extends ../layout/admin

block content
    h2(class="text-2xl font-extrabold text-center my-10")= page
    
    a(href="/my-properties" class="bg-indigo-500 hover:bg-indigo-600 rounded text-sm py-2 px-10 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Back

    
    //- pre= JSON.stringify(messages, undefined, 2)

    div(class="mx-auto max-w-4xl bg-white shadow p-5")

        if messages.length
            ul 
                each message in messages
                    li(class="border-gray-200 border-b p-5")
                        p(class="font-bold text-gray-800") From: 
                            span(class="font-normal")= message.user.name

                        p(class="font-bold text-gray-800") Email: 
                            span(class="font-normal")= message.user.email

                        p(class="font-bold text-gray-800") Message: 
                            span(class="font-normal")= message.message

                        p(class="font-bold text-gray-800") Date: 
                            span(class="font-normal")= formatDate(message.createdAt)
        else
            p(class="text-center text-gray-600") No messages to display